/*.cart_item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #a0a0a0; 
}

.item_count{
    display: flex;
    align-items: center;
    padding-right: 100px;
}
.item_image{
flex-grow: 0;
}

.item_amount{
    display: flex;
    align-items: center;
    padding-left:15px;
    padding-right:50px;
    border-left: 1px solid #a0a0a0;
}

.item_info{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding-left: 20px;
    line-height: 3;
}
*/


#cart_main{
    width:100%;
    margin-top: 50px;
}

#cart_wrap{
    width:100%;
    display:flex;
    flex-direction:column;
}

.cart_item{
    width:100%;
    display:flex;
    padding:10px 0;
    border-bottom: 1px solid #a0a0a0;
    align-items:center;
}

.item_image{
    background:url(../image/5.PNG);
    width:100px;
    height:100px;
    background-size:contain; /*- 지정된 크기에 맞춰서 알아서 조절됨.*/
}

.item_info{
    min-width: 250px;
    flex-grow: 1;
    padding-left:20px;
    line-height: 2;
}

.item_info p:nth first-child{
    margin-bottom: 10px;
}

.item_count{
    width:15%;
}

.item_amount{
    width: 15%;
    border-left:1px solid #d0d0d0;
    height: 100px;
    align-items: center;
    padding-left: 10px;
    display: flex;
}


